.box{
    padding: 15px;
    border: 2px solid;
}
body{
    background-color: hsl(120, 2%, 20%);
}
.to-do-list{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 100px
}

h1{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  background-color 0.5 ease;
}

.add-button{
    background-color: hsl(125, 70%, 39%);
}
.add-button:hover{
    background-color: hsl(125, 78%, 21%);
}
.delete-button{
    background-color: hsl(0, 56%, 51%);
}
.delete-button:hover{
    background-color: hsl(0, 76%, 18%);
}
.move-button{
    background-color: hsl(231, 63%, 48%);
}
.move-button:hover{
    background-color: hsl(231, 69%, 19%);
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 2%, 49%);
    border-radius: 5px;
    color: hsl(0, 0%, 0%, 0.5);
}

ol{
    padding: 0;
}
li{
    font-size: 2 rem;
    font-weight: bold;
    padding: 15px;
    background-color: antiquewhite;
    margin-bottom: 10px;
    border: 3px solid hsl(0, 2%, 49%);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}